{% extends 'datenbank/base.html' %}

{% block content %}
    <article class="mitarbeiter">
          <aside class="actions">
            <a class="btn btn-default" href="{% url 'mitarbeiter_edit' pk=mitarbeiter.pk %}">
              {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>

        <h1>{{ mitarbeiter.nachname }}, {{ mitarbeiter.vorname }}</h1>
        <p>Kontotyp:{{ mitarbeiter.kontotyp }}</p>
        <p>Titel:{{ mitarbeiter.titel }}</p>
        <p>Mailadresse:{{ mitarbeiter.mailadresse }}</p>
        <p>Telefonnummer:{{ mitarbeiter.telefonnummer }}</p>
        <p>Etage:{{ mitarbeiter.etage }}</p>
        <p>Raum:{{ mitarbeiter.raum }}</p>
        <p>Standardpasswort:{{ mitarbeiter.standardpasswort }}</p>
        <p>Serverpasswort:{{ mitarbeiter.serverpasswort }}</p>
        <p>Adminkonto:{{ mitarbeiter.adminkonto }}</p>
        <p>VPN:{{ mitarbeiter.vpn }}</p>
        <p>Eintrittsdatum:{{ mitarbeiter.eintrittsdatum }}</p>
        <p>Austrittsdatum:{{ mitarbeiter.austrittsdatum }}</p>
        <p>Betreuergruppe:{{ mitarbeiter.betreuergruppe }}</p>
        <p>Bemerkungen:{{ mitarbeiter.bemerkungen }}</p>
        <p>Konten:{{ mitarbeiter.konten }}</p>

    </article>
{% endblock %}
